************************************************************
                                                          
Welcome to {{ ansible_facts['hostname'] }}        
                                                        
WARNING: Unauthorized access to this system is strictly 
prohibited. All activities are monitored and logged.    
                                                        
By logging in, you acknowledge that you have read and   
understand this notice and consent to system monitoring.
                                                        
Hostname: {{ ansible_facts['hostname'] }}               
IP: {{ ansible_facts['default_ipv4']['address'] }}      
                                                        
For assistance, contact your system administrator.               
                                                        
************************************************************

